name: ci-lib
on:
  push:
    branches:
      - "**"

env:
  BUILD_FAILURE_SLACK_CHANNEL: "#europris-dev-info"

defaults:
  run:
    # NOTE: A bit stricter than the default bash options used by GitHub Actions
    # (bash --noprofile --norc -e -o pipefail {0})
    shell: bash --noprofile --norc -euo pipefail {0}

# NOTE: Set concurrency for the current workflow to 1
concurrency: ci-${{ github.ref }}-${{ github.workflow }}

jobs:
  build-and-release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      packages: write
      deployments: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: "zulu"
          java-version: "17.0.9"
          java-package: "jdk"

      - uses: capralifecycle/actions-lib/check-runtime-dependencies@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3

      - name: cache mvn
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: release preparation
        id: prep
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          major_version="$(sed -n "s/^.*<major-version>\([0-9]\{1,\}\)<\/major-version>.*$/\1/p" pom.xml)"
          echo "$major_version" | grep -q "^[0-9]\{1,\}$" || {
            echo "ERROR: Failed to extract <major-version> from pom.xml"
            exit 1
          }
          echo "major-version=$major_version" >> "$GITHUB_OUTPUT"

      - uses: capralifecycle/actions-lib/generate-tag@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3
        id: tag
        with:
          tag-prefix: "${{ steps.prep.outputs.major-version }}"
          tag-type: "punctuated-timestamp-tag"

      - name: conditional release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CONDITIONAL_RELEASE: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
          TAG: "${{ steps.tag.outputs.tag }}"
          SONARCLOUD_TOKEN: ${{ secrets.SHARED_SONAR_TOKEN }}
          GIT_COMMIT_SHA: ${{ github.sha }}
          RUN_NUMBER: ${{ github.run_number }}
        run: |
          if [ "$CONDITIONAL_RELEASE" = "true" ]; then
            echo "Releasing library with tag '$TAG'"
            mvn -B source:jar deploy scm:tag -Drevision="$TAG" -Dtag="$TAG" \
              org.apache.maven.plugins:maven-enforcer-plugin:3.0.0-M3:enforce -Drules=requireReleaseDeps
          else
            mvn -B dependency:resolve -U verify
          fi

      - name: show errors
        if: ${{ failure() }}
        env:
          FAILS_FILE: ${{ runner.temp }}/fails.txt
        run: |
          echo '## Build failure  ' >> $GITHUB_STEP_SUMMARY
          { find . -type f -path '*target/surefire-reports/*.txt' -exec grep -l -E '(Failures: [^0]|Errors: [^0])' {} >> "${FAILS_FILE}" \; || :; }
          { find . -type f -path '*target/failsafe-reports/*.txt' -exec grep -l -E '(Failures: [^0]|Errors: [^0])' {} >> "${FAILS_FILE}" \; || :; }

          while IFS="" read -r errorFile || [ -n "$errorFile" ]; do
            echo "**${errorFile}**  " >> $GITHUB_STEP_SUMMARY
            echo '```text' >> $GITHUB_STEP_SUMMARY
            cat "${errorFile}" >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
            echo '---' >> $GITHUB_STEP_SUMMARY
          done < "${FAILS_FILE}"

      - uses: capralifecycle/actions-lib/slack-notify@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3
        # NOTE: We only want to be notified about failures on the default branch
        if: ${{ failure() && github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        with:
          bot-token: ${{ secrets.SHARED_SLACK_BOT_TOKEN }}
          channel: ${{ env.BUILD_FAILURE_SLACK_CHANNEL }}

      - uses: capralifecycle/actions-lib/configure-github-deployment@0ce63296cc44accd75acd8d0c56e73014b937e83 # v1.6.3
        # NOTE: Create GitHub deployment on default branch regardless of job status
        if: ${{ always() && github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
